/* ------- ALL ITENS ------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
   font-family: 'Roboto', Arial, sans-serif;
   margin: 0;
   padding: 0;
   align-items: center;
}
h1 {
   padding-left: 10px;
   padding-bottom: 10px;
}
a {
   color: #141414;
   text-decoration: none;
}
a:hover {
   color: #000088;
}
hr {
   color: #aaa;
   margin: 20px 0 50px 0;
}
input {
   padding: 0 15px;
   resize: none;
}
::placeholder {
   color: #aaa;
   opacity: 1; /* Firefox */
}
label {
   font-size: 18px;
}
/* ------- body ------- */
body {
   display: flex;
   flex-direction: column;
   font-size: 18px;
   background-color: #f4f4f4;
}
/* ------- 404 Page ------- */
.err404 {
   clear: both;
   display: block;
   font-size: 30px;
   color: #000000;
   text-align: center;
   justify-content: center;
}
.err404 h1 {
   font-size: 60px;
}
.err404 h1 span {
   color: #0000cc;
}
.err404 p {
   color: #880000;
}
/* ------- WARNINGS ------- */
.warning-success {
   border: 2px solid #79f383;
   background-color: #097520;
   color: #fff;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
}
.warning-error {
   border: 2px solid #f78d8d;
   background-color: #f70707;
   color: #fff;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
}
.warning-info {
   border: 2px solid #5555ff;
   background-color: #0000ff;
   color: #fff;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
}
/* ------- header ------- */
header {
   display: flex;
   justify-content: space-between;
   background-color: #ddd;
   padding: 10px;
   border-bottom: 1px solid #ccc;
   width: 100%;
   height: 60px;
   text-align: center;
   line-height: 60px;
}
header img {
   margin-top: 25px;
}
header input {
   width: 150px;
   height: 30px;
   font-weight: bold;
   border-radius: 6.5px;
   background-color: #ddd;
   border: 1px solid #ccc;
   box-shadow: 0px 0px 3px #b9b9b9;
}
header input::placeholder {
   color: #7a7a7a;
   opacity: 1;
}
header input:hover {
   background-color: #e6e6e6;
}
header a:hover {
   font-weight: bold;
}

ul,
li {
   list-style: none;
}
ul {
   display: flex;
   justify-content: center;
   align-items: center;
}
li {
   padding: 10px;
}
.userlogged {
   padding: 10px;
   position: absolute;
   top: 67px;
   right: 0;
}
.tags {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-size: 11px;
   margin: 10px 0 10px 0;
}
.tags .tag {
   padding: 10px;
}
.tag.selected a {
   color: #ff0000;
}
/* ------- Home and Posts ------- */
.container-posts {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   flex: 1;
   font-size: 16px;
}
.post {
   flex-wrap: wrap;
   min-width: 600px;
   min-height: 220px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 0px 5px #b9b9b9;
   overflow: hidden;
}
.post img {
   max-width: 100%;
}
.post article {
   display: flex;
   flex-direction: column;
   padding: 10px;
}
.container-posts a:hover {
   color: #000;
}
.post:hover {
   background-color: #e4e4e4;
   color: #000;
}
.by {
   font-size: 10px;
}
/* ------- Posts Views ------- */
.postV h2,
.postV figure,
.postV article {
   padding-top: 20px;
}
.postV article {
   color: #28262b;
}
.imgPostV {
   position: relative;
   margin-top: 30px;
   margin-bottom: 30px;
   filter: drop-shadow(7px 7px 15px #000);
   overflow: hidden;
   outline: none;
   transition: all 0.2s cubic-bezier(0.21, -0.67, 0.76, 1.63);
}
@keyframes shine {
   100% {
      transform: rotate(-30deg) translate(320%, 120%);
   }
}
.imgPostV:hover:after {
   position: relative;
   height: 120%;
   animation: shine 1s 0.2s ease-in-out forwards;
}
/* ------- Login Page ------- */
.container-login {
   width: 100vw;
   height: 69vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background: #f2f2f2;
}
.box-login {
   width: 30vw;
   min-width: 350px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   padding: 55px 35px 15px 35px;
   box-shadow: 0 5px 10px 0px #b9b9b9;
}
.login-input {
   border: none;
   border-bottom: 2px solid #ccc;
   margin-bottom: 30px;
   color: #888;
   line-height: 1.2;
   display: block;
   width: 100%;
   height: 45px;
   background: transparent;
   padding: 0 5px;
}
.login-button {
   width: 100px;
   height: 40px;
   color: #fff;
   font-weight: bold;
   border-radius: 5px;
   background-color: #428bca;
   transition: background 1.5s, border-radius 1.5s;
   border: 1px solid #ccc;
   cursor: pointer;
}
.login-button:hover {
   background-color: #1cb841;
   border-radius: 15px;
}
.login-form input:focus {
   color: #444;
}
.forget {
   float: right;
}
.forget a {
   font-size: 10px;
   text-decoration: none;
   color: #428bca;
}
/* ------- Perfil Page and All Forms------- */
form input[type='file'] {
   padding: 5px;
}

.container-forms {
   width: 100vw;
   height: 69vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background: #f2f2f2;
}
.box-forms {
   width: 30vw;
   min-width: 300px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   padding: 30px 15px 15px 15px;
   box-shadow: 0 5px 10px 0px #b9b9b9;
}
.inputs {
   border: none;
   border-bottom: 2px solid #ccc;
   margin-bottom: 5px;
   color: #888;
   display: block;
   width: 100%;
   height: 30px;
   font-size: 20px;
}
.form-control {
   width: 100%;
   display: inline-block;
   text-align: center;
   padding: 5px;
   border-radius: 6px;
   margin-bottom: 2px;
   border: 1px solid #ccc;
}
.fileUpload {
   display: inline-block;
   position: relative;
   overflow: hidden;
   background-color: #428bca;
   border: 1px solid #ccc;
   width: 100%;
   text-align: center;
   color: #fff;
   font-weight: bold;
   padding: 8px;
   border-radius: 6px;
}
.fileUpload input.upload {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity=0);
}
.inputs-button {
   height: 40px;
   color: #fff;
   font-weight: bold;
   border-radius: 5px;
   background-color: #428bca;
   border: 1px solid #ccc;
   cursor: pointer;
}

.edit {
   display: block;
   padding: 20px;
   width: 99px;
   color: #fff;
   font-weight: bold;
   border-radius: 5px;
   background-color: #428bca;
   border: 1px solid #ccc;
   cursor: pointer;
   text-align: center;
}

.delete {
   display: block;
   padding: 20px;
   width: 99px;
   color: #fff;
   font-weight: bold;
   border-radius: 5px;
   background-color: #ca4242;
   border: 1px solid #ccc;
   cursor: pointer;
   text-align: center;
}
